@use 'base/variables' as v;
@use 'base/mixins' as m;

.forgot-password {
  margin-top: 5rem;

  .uptask {
    @include m.gradientText(v.$pink);
  }

  input[type='submit'] {
    @include m.button(v.$pink, v.$white);
    margin-top: 3rem;
  }

  .actions {
    a {
      color: v.$pink;
    }
  }
}
