@use 'base/variables' as v;
@use 'base/mixins' as m;

.login {
  margin-top: 5rem;

  .uptask {
    background: linear-gradient(
      to right,
      v.$cyan 0%,
      lighten(v.$cyan, 30%) 100%
    );

    color: transparent;
    background-clip: text;
    font-size: 7rem;
    text-align: center;

    @include m.tablet {
      font-style: 10rem;
    }
  }

  input[type='submit'] {
    @include m.button(v.$cyan, v.$white);
    margin-top: 3rem;
  }

  .actions {
    a {
      color: v.$cyan;
    }
  }
}
