@use 'base/variables' as v;
@use 'base/mixins' as m;

.register {
  margin-top: 5rem;

  .uptask {
    @include m.gradientText(v.$purple);
  }

  input[type='submit'] {
    @include m.button(v.$purple, v.$white);
    margin-top: 3rem;
  }

  .actions {
    a {
      color: v.$purple;
    }
  }
}
