@use 'base/variables' as v;
@use 'base/mixins' as m;

.reset-password {
  margin-top: 5rem;

  .uptask {
    @include m.gradientText(v.$blue);
  }

  input[type='submit'] {
    @include m.button(v.$blue, v.$white);
    margin-top: 3rem;
  }

  .actions {
    a {
      color: v.$blue;
    }
  }
}
