@use 'base/variables' as v;
@use 'base/mixins' as m;

.navbar-mobile {
  background-color: v.$indigo;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include m.tablet {
    display: none;
  }

  h1 {
    color: v.$white;
    margin: 0;
  }

  .menu {
    padding: 0.6rem;
    cursor: pointer;

    img {
      width: 0.8rem;
    }
  }
}

.navbar {
  display: none;

  @include m.tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: v.$white;
    padding: 1.4rem 3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.1);
  }

  p {
    margin: 0;
    font-size: 1.7rem;

    span {
      font-weight: 700;
      color: v.$indigo;
    }
  }

  .logout {
    @include m.button(darken(v.$indigo, 20%), v.$white);
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 0.3rem;
  }
}
