@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {
  background-color: v.$indigo;

  h2 {
    color: v.$white;
    margin: 0;
    text-align: center;
    padding: 2rem;
  }

  .sidebar-nav {
    margin-top: 5rem;

    a {
      color: v.$white;
      display: block;
      margin-top: 1.5em;
      padding: 2rem 2.7rem;
      transition-property: background-color;
      transition-duration: 300ms;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2rem;

      &:hover {
        background-color: darken(v.$indigo, 20%);
        border-radius: 5px;
      }
    }
  }
}
